*, *:after, *:before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100%;
	background: url("../img/background3.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.container{
	width: 70%;
	margin: 0 auto;
	height: 100%;
	padding: 0 40px;
	background: rgba(255, 255, 255, 0.3);
}
.light{
	position: fixed;
	z-index: 1000;
	left: -70px;
	top: 220px;
	width: 200px;
	height: 10px;
	transform: rotate(90deg);
}
	/*.light:before{
		content: ' ';
		position: absolute;
		width: 60px;
		height: 60px;
		background: url("../img/light1.png");
		background-size: contain;
		background-repeat: no-repeat;

	}*/
	#rng_light{
		position: absolute;
		width: 100%;
		-webkit-appearance: none;
		height: 2px;
		outline: none;
		background: grey;
	}
	#rng_light::-webkit-slider-thumb{
		background: url("../img/light1.png");
		background-size: cover;
		width: 4vh;
		height: 4vh;
		-webkit-appearance: none;
		appearance: none;
	}
header .container {
	background: black;
}
.header{
	position: absolute;
	width: 100%;
	height: 70px;
	background: black;
}
	.header_body{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
	}
		.logo{
			padding: 2.5px;
			width: 30%;
			height: 100%;
			display: flex;
			justify-content: center;
			background: rgba(0, 0, 0, 0.5);
		}
			.logo_img{
				background-image: url("../img/favicon.png");
				height: 65px;
				width: 65px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 40%;
			}
		.nav{
			height: 100%;
			display: flex;
			padding: 5px;
			align-items: center;
			justify-content: center;
		}
			.text_key_nav{
				font-size: 2vw;
				color: white;
				margin: 0px 40px;
			}
			.text_key_nav:hover{
				text-decoration: underline;
				color: gold;
			}
			.url_key{
				text-decoration: inherit;
				color: inherit;
			}
.page{
	width: 100%;
	height: 100%;
}
	.main{
		padding: 10px;
		padding-top: 80px;
		min-height: 100vh;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}
		/*main task*/
		.player_block{
			width: 100%;
			padding: 10px;
			background: black;
		}
			.thumb-wrap {
				position: relative;
				padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
				height: 0;
				overflow: hidden;
				background: url("../img/loading_player.jpg");
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
			.thumb-wrap iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-width: 0;
				outline-width: 0;
			}
		.add_inform{
			display: flex;
			justify-content: space-between;
			width: 100%;
			height: 100%;
		}
			.text_add_inform{
				margin-top: 7px;
				background: rgba(0, 0, 0, 0.7);
				padding: 20px;
				font-size: 1.5vw;
				text-align: justify;
				width: 60%;
				height: 100%;
				color: white;
			}
			.add_audio_for_film{
				width: 40%;
				margin-top: 7px;
				height: 100%;
			}
				#audio_block{
					display: flex; 
					flex-direction: column; 
					justify-content: flex-end; 
					background:rgba(0, 0, 0, 0.8); 
					border: 1px solid white; 
					padding: 5px;
				}
					#title{
						text-align: center; 
						color:white; 
						font-size: 1.7vw;
					}
					.button button{
						margin: 0 5px;
						margin: 5px 10px;
						background: none;
						border: 0;
						width: 3vh;
						height: 3vh;
					}
					.button button img{
						width: 100%;
						height: 100%;
					}
					#duration{
						color: white;
						font-size: 1.2vw;
					}
					.volume_block{
						display: flex;
						align-items: center;
					}
					.volume_p{
						font-size: 1.7vh;
					}
					#rng_audio{
						-webkit-appearance: none;
						appearance: none;
						outline: none;
						height: 2px;
						background: white;
						margin-left: 5px;
						width: 50%;
					}
					#rng_audio::-webkit-slider-thumb{
						appearance: none;
						width: 15px;
						background:white;
						height: 15px;
						border-radius: 15px;
						border: 1px solid grey;
					}
				#block_for_title_audio{
					background: rgba(0, 0, 0, 0.7);
					padding: 5px;
				}
					.titles_audio{
						width: 100%;
						height: 100%;
						padding: 0.2vh;
						display: flex;
						justify-content: flex-start;
						text-align: center;
		
					}
					.titles_audio p{
						font-size: 1.4vw;
						padding: 4px 10px;
						color: white;
						text-align: center;
					}
					.titles_audio img{
						padding: 4px 0px;
						padding-left: 5%;
					}
		/*catalog*/
		#main_catalog{
			display: grid;
			grid-template-rows: auto;
		}
		.blocks{
			margin: 5px;
			background: black;
		}
		.blocks:hover{
			cursor: pointer;
			box-shadow: 2px 2px 2px black, -2px -2px 2px black,-2px 2px 2px black,2px -2px 2px black;
		}
		.insert_bg{
			width: 100%;
			height: 100%;
			background: white;
		}
			#kish{
				background: url("../img/Kish_logo2.jpg") white;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				border: 4px solid black;
			}
			#pfilmy{
				background: url("../img/pornofilmi_logo.jpg") black;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				border: 4px solid black;
			}
			#coi{
				background: url("../img/coi_logo.jpg") white;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				border: 4px solid black;
			}
			#zveri{
				background: url("../img/zveri_logo.jpg") black;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				border: 4px solid black;
			}
			#ac_dc{
				background: url("../img/acdc.png") white;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				border: 4px solid black;
			}
			#cipelov{
				background: url("../img/cipelov.jpg") black;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				border: 4px solid black;
			}
			#splin{
				background: url("../img/splin.png") white;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				border: 4px solid black;
			}
			#metallica{
				background: url("../img/metallica.jpg")black;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				border: 4px solid black;
			}
			#liapis{
				background: url("../img/liapis.png")white;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				border: 4px solid black;
			}
@media (min-width:2200px) and (orientation: landscape){
	#rng_audio{
		width: 50%;
		height: 2px;
		margin-left: 10px;
	}
	.button button{
		margin: 5px 10px;
		width: 4vh;
		height: 4vh;
	}
	.volume_p{
		font-size: 1.1vw;
	}
	#rng_audio::-webkit-slider-thumb{
		width: 1.7vh;
		height: 1.7vh;
		border-radius: 1.7vh;
	}
	.header{
		height: 10vh;
	}
	.logo_img{
		height: 9.5vh;
		width: 9.5vh;
	}
	.text_add_inform{
		width: 70%;
	}
	.add_audio_for_film{
		width: 30%;
	}
	.main{
		padding-top: 10.5vh;
	}
	#rng_light::-webkit-slider-thumb{
		width: 5vh;
		height: 5vh;
	}
	.light{
		left: -70px;
		top: 300px;
		width: 20vh;
		height: 10px;
	}
}
@media (max-width: 1350px) and (orientation: landscape)
{
	.text_add_inform p{
		font-size: 1.7vw;
	}
	#rng_light::-webkit-slider-thumb{
		width: 35px;
		height: 35px;
	}
	#rng_audio::-webkit-slider-thumb{
	appearance: none;
	width: 2vh;
	background:white;
	height: 2vh;
	border-radius: 15px;
	}
}
@media (max-width: 1100px) and (orientation: landscape){
	.container{
		width: 80%;
		padding: 0 20px;
	}
	.header{
		height: 50px;
	}
	.logo_img{
		height: 45px;
		width: 45px;
	}
	.text_add_inform{
		padding: 10px;
	}
	.text_add_inform p{
		font-size: 2.1vw;
	}
	.text_key_nav{
		font-size: 2.2vw;
	}
	#title{
		font-size: 2.5vw;
	}
	#duration{
		font-size: 1.6vw;
	}
	.titles_audio div p{
		font-size: 1.9vw;
	}
	.main{
		padding-top: 60px;
	}
	.volume_p{
		font-size: 1.3vw;
	}
	.button{
		margin-top: 3px;
	}
	.button button{
		margin: 2px 5px;
		background: none;
		border: 0;
		width: 25px;
		height: 25px;
	}
	#rng_light::-webkit-slider-thumb{
		width: 22px;
		height: 22px;
	}
	.light{
		left: -37px;
		top: 100px;
		width: 90px;
		height: 10px;
	}
}
@media (max-width: 900px) and (orientation: landscape){
	.container{
		padding: 0 5px;
		width: 90%;
	}
}
@media (max-width: 750px) and (orientation: landscape){
	.header{
		height: 40px;
	}
	.main{
		padding: 5px 1px;
		padding-top: 50px;
	}
	.logo_img{
		width: 35px;
		height: 35px;
	}
	.text_add_inform{
		width: 65%;
	}
	.thumb-wrap {
		padding-bottom: 50%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */		
	}
	.add_audio_for_film{
		width: 35%;
	}
	.button button{
		width: 18px;
		height: 18px;
	}
	#rng_audio{
		width: 80px;
		height: 2px;
		margin-left: 2px;
	}
	.titles_audio img{
		padding: 2px 0px;
	}
	.titles_audio div p{
		padding: 2px 5px;
	}
	
}
@media (max-width: 650px) and (orientation: landscape){
	.header{
		height: 30px;
	}
	.container{
		padding: 0px 5px;
		width: 93%;
	}
	.main{
		padding: 5px 1px;
		padding-top: 35px;
	}
	.logo_img{
		width: 25px;
		height: 25px;
	}
	.text_add_inform{
		width: 65%;
	}
	.thumb-wrap {
		padding-bottom: 50%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */		
	}
	.add_audio_for_film{
		width: 35%;
	}
	.button button{
		width: 13px;
		height: 13px;
		margin: 3px 3px;
	}
	#rng_audio{
		width: 80px;
		height: 2px;
		margin-left: 2px;
	}
	#title{
		padding-bottom: 3px;
	}
	.titles_audio img{
		padding: 2px 0px;
	}
	.titles_audio div p{
		padding: 2px 5px;
	}
	.text_key_nav{
		font-size: 2.5vw;
		margin: 0px 20px;
		margin-left: 10px;
	}
	#rng_light::-webkit-slider-thumb{
		width: 17px;
		height: 17px;
	}
	.light{
		left: -28px;
		top: 100px;
		width: 70px;
		height: 10px;
	}
}
@media (max-height: 1250px) and (orientation: portrait)
{
	.container {
		padding: 1px 10px;
		width: 100%;

	}
	.main{
		min-height: 100%;
		padding: 73px 0px;
		padding-bottom: 5px;
	}
	body{
		min-height: 100vh;
		height: 100%;
	}
	.header{
		height: 7vh;

	}
	.light{
		position: absolute;
		transform: none;
		left: 30%;
		top: 30px;
	}
	.rng_light{

	}
	.logo_img{
		height: 6.5vh;
		width: 6.5vh;
	}
	.add_inform{
		display: flex;
		flex-direction: column;
		background: rgba(0, 0, 0, 0.7);
	}
	.text_add_inform{
		width: 100%;
		padding: 2px;
		background: none;
	}
	.text_key_nav{
		font-size: 3vh;
		margin-left: 20px;
		margin-right: 20px;
	}
	.text_add_inform p{
		font-size: 2vh;
	}
	.page .container{
		min-height: 100vh;
		height: 100%;
	}
	.add_audio_for_film{
		width: 100%;
	}
	#title{
		font-size: 2vh ;
	}
	#block_for_title_audio{
		display: grid;
		grid-template-rows: 33.3% 33.3% 33.3%;
		grid-template-columns: 33.3% 33.3% 33.3% ;
	}
	.titles_audio{
		padding-top: 10px;
	}
	.titles_audio p{
		font-size: 1.5vh;
	}
}